{% extends "base.html" %}

{% block content %}
    {% include "components/navbar/header_sidebar.html" %}
    {% include "components/navbar/header.html" %}
    {% include "components/file_details_preview_sidebar.html" %}

    <div class="pl-[70px] pt-5 h-dvh">
        <div class="px-5 md:px-10 lg:px-20">
            <div class="flex flex-col gap-y-10">
                <div class="flex flex-col gap-y-10">
                    <div class="flex flex-wrap justify-between items-center gap-3">
                        <nav class="flex" aria-label="Breadcrumb">
                            <ol class="inline-flex items-center space-x-1 rtl:space-x-reverse">
                                <li aria-current="page" class="inline-flex items-center">
                                    <div class="font-medium inline-flex items-center gap-x-2 text-sm font-medium hover:text-indigo-500 dark:text-stone-400 dark:hover:text-stone-100">
                                        <i class="fa-regular fa-folder-open text-lg"></i>
                                        All Folders
                                    </div>
                                </li>
                            </ol>
                        </nav>
                    </div>

                    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
                        <div ondragenter="folderDragEnter(event)" ondragleave="folderDragLeave(event)" ondragover="folderDragOver(event)" ondrop="folderDrop(event)" data-slug="folder1" class="w-full relative p-5 bg-white hover:bg-white/50 rounded-lg shadow-sm dark:bg-stone-800 dark:hover:bg-stone-700">
                            <div class="absolute top-1 right-2">
                                <button id="dropdown__folderBtn-1" data-dropdown-toggle="dropdown__folder-1" class="flex hover:bg-stone-200 dark:hover:bg-stone-800 focus:ring-4 focus:outline-none focus:ring-stone-200 dark:focus:ring-stone-700 rounded-lg p-1.5" type="button">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </button>
                                {% comment %}Dropdown menu{% endcomment %}
                                <div id="dropdown__folder-1" class="z-10 hidden text-base list-none bg-white divide-y divide-stone-100 dark:divide-stone-700 rounded-lg shadow-sm border border-stone-200 dark:border-stone-700 w-44 dark:bg-stone-800">
                                    <ul class="py-2" aria-labelledby="dropdown__folderBtn-1">
                                        <li>
                                            <button
                                                data-drawer-target="file__detailPreviewSidebar" data-drawer-show="file__detailPreviewSidebar" data-drawer-placement="right" aria-controls="file__detailPreviewSidebar"
                                                type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 hover:bg-stone-100 dark:hover:bg-stone-600 dark:text-stone-200">
                                                <i class="fa-solid fa-circle-info text-stone-500 dark:text-stone-400"></i>
                                                Details
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 hover:bg-stone-100 dark:hover:bg-stone-600 dark:text-stone-200">
                                                <i class="fa-solid fa-download text-stone-500 dark:text-stone-400"></i>
                                                Download
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 hover:bg-stone-100 dark:hover:bg-stone-600 dark:text-stone-200">
                                                <i class="fa-solid fa-pen text-stone-500 dark:text-stone-400"></i>
                                                Rename
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="py-1.5">
                                        <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 text-rose-500 hover:bg-stone-100 dark:hover:bg-stone-600">
                                            <i class="fa-solid fa-trash-can"></i>
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="flex flex-col gap-y-4">
                                <i class="fa-regular fa-folder text-2xl text-stone-500 dark:text-stone-400"></i>
                                <div class="flex flex-col gap-y-1">
                                    <h5 class="text-base font-semibold">Documents</h5>
                                    <p class="text-stone-500 dark:text-stone-400">24 files</p>
                                </div>
                            </a>
                        </div>
                        <div ondragenter="folderDragEnter(event)" ondragleave="folderDragLeave(event)" ondragover="folderDragOver(event)" ondrop="folderDrop(event)" data-slug="folder2" class="w-full relative p-5 bg-white hover:bg-white/50 rounded-lg shadow-sm dark:bg-stone-800 dark:hover:bg-stone-700">
                            <div class="absolute top-1 right-2">
                                <button id="dropdown__folderBtn-2" data-dropdown-toggle="dropdown__folder-2" class="flex hover:bg-stone-200 dark:hover:bg-stone-800 focus:ring-4 focus:outline-none focus:ring-stone-200 dark:focus:ring-stone-700 rounded-lg p-1.5" type="button">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </button>
                                {% comment %}Dropdown menu{% endcomment %}
                                <div id="dropdown__folder-2" class="z-10 hidden text-base list-none bg-white divide-y divide-stone-100 dark:divide-stone-700 rounded-lg shadow-sm border border-stone-200 dark:border-stone-700 w-44 dark:bg-stone-800">
                                    <ul class="py-2" aria-labelledby="dropdown__folderBtn-1">
                                        <li>
                                            <button
                                                data-drawer-target="file__detailPreviewSidebar" data-drawer-show="file__detailPreviewSidebar" data-drawer-placement="right" aria-controls="file__detailPreviewSidebar"
                                                type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 hover:bg-stone-100 dark:hover:bg-stone-600 dark:text-stone-200">
                                                <i class="fa-solid fa-circle-info text-stone-500 dark:text-stone-400"></i>
                                                Details
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 hover:bg-stone-100 dark:hover:bg-stone-600 dark:text-stone-200">
                                                <i class="fa-solid fa-download text-stone-500 dark:text-stone-400"></i>
                                                Download
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 hover:bg-stone-100 dark:hover:bg-stone-600 dark:text-stone-200">
                                                <i class="fa-solid fa-pen text-stone-500 dark:text-stone-400"></i>
                                                Rename
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="py-1.5">
                                        <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 text-rose-500 hover:bg-stone-100 dark:hover:bg-stone-600">
                                            <i class="fa-solid fa-trash-can"></i>
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="flex flex-col gap-y-4">
                                <i class="fa-regular fa-folder text-2xl text-stone-500 dark:text-stone-400"></i>
                                <div class="flex flex-col gap-y-1">
                                    <h5 class="text-base font-semibold">Documents</h5>
                                    <p class="text-stone-500 dark:text-stone-400">24 files</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}