<div class="sticky top-0 w-full z-[1001]">
    <div class="px-5 md:px-10 lg:px-20">
        <div class="pl-[70px] w-full py-3 flex flex-col gap-y-3 bg-stone-100 dark:bg-stone-900">
            <div class="w-full flex items-center justify-between gap-x-5">
                <h5 class="text-lg font-semibold text-stone-600 dark:text-stone-400">YouVault</h5>
                <div class="flex items-center gap-x-5">
                    <button data-tooltip-target="tooltip-create-folder-btn" type="button" class="text-stone-600 dark:text-stone-400 hover:text-stone-900 hover:dark:text-stone-100 cursor-pointer p-1.5 rounded-md border border-stone-200 dark:border-stone-800 hover:border-stone-400 hover:dark:border-stone-600 flex flex-col items-center justify-center">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <div id="tooltip-create-folder-btn" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
                        Create file/folder
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <button data-tooltip-target="tooltip-search-file-btn" type="button" class="text-stone-600 dark:text-stone-400 hover:text-stone-900 hover:dark:text-stone-100 cursor-pointer flex flex-col items-center justify-center">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <div id="tooltip-search-file-btn" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
                        Search files
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </div>
            </div>
            {% include "components/border.html" %}
        </div>
    </div>
</div>