 <!-- drawer component -->
<div id="storage__sidebar" class="fixed top-0 right-0 z-[1003] h-dvh p-4 overflow-y-auto transition-transform translate-x-full bg-stone-100 w-80 md:w-96 dark:bg-stone-800" tabindex="-1" aria-labelledby="drawer-right-label">
    <div class="flex flex-col gap-y-5">
        <div class="flex flex-col gap-y-3">
            <div class="flex items-center justify-between gap-x-3">
                <div class="flex items-center gap-x-2">
                    <i class="fa-solid fa-box-archive text-xl"></i>
                    <h5 class="font-semibold text-xl">Storage</h5>
                </div>
                <button type="button" data-drawer-hide="storage__sidebar" aria-controls="storage__sidebar" class="mt-1 text-stone-400 bg-transparent hover:bg-stone-200 hover:text-stone-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-stone-600 dark:hover:text-white" >
                    <i class="fa-solid fa-xmark"></i>
                    <span class="sr-only">Close menu</span>
                </button>
            </div>
            {% include "components/border.html" %}
        </div>
        <div class="flex flex-col gap-y-5">
            <div class="grid md:grid-cols-2 gap-5">
                <div class="w-full p-5 bg-white hover:bg-white/50 rounded-lg shadow-sm dark:bg-stone-700 dark:hover:bg-stone-600">
                    <a href="#" hx-boost="true" class="flex flex-col gap-y-4">
                        <i class="fa-regular fa-folder text-2xl text-stone-500 dark:text-stone-400"></i>
                        <div class="flex flex-col gap-y-1">
                            <h5 class="text-base font-semibold">Documents</h5>
                            <p class="text-stone-500 dark:text-stone-400">24 files</p>
                        </div>
                    </a>
                </div>
                <div class="w-full p-5 bg-white hover:bg-white/50 rounded-lg shadow-sm dark:bg-stone-700 dark:hover:bg-stone-600">
                    <a href="#" hx-boost="true" class="flex flex-col gap-y-4">
                        <i class="fa-regular fa-images text-2xl text-stone-500 dark:text-stone-400"></i>
                        <div class="flex flex-col gap-y-1">
                            <h5 class="text-base font-semibold">Images</h5>
                            <p class="text-stone-500 dark:text-stone-400">24 files</p>
                        </div>
                    </a>
                </div>
                <div class="w-full p-5 bg-white hover:bg-white/50 rounded-lg shadow-sm dark:bg-stone-700 dark:hover:bg-stone-600">
                    <a href="#" hx-boost="true" class="flex flex-col gap-y-4">
                        <i class="fa-solid fa-video text-2xl text-stone-500 dark:text-stone-400"></i>
                        <div class="flex flex-col gap-y-1">
                            <h5 class="text-base font-semibold">Videos</h5>
                            <p class="text-stone-500 dark:text-stone-400">24 files</p>
                        </div>
                    </a>
                </div>
                <div class="w-full p-5 bg-white hover:bg-white/50 rounded-lg shadow-sm dark:bg-stone-700 dark:hover:bg-stone-600">
                    <a href="#" hx-boost="true" class="flex flex-col gap-y-4">
                        <i class="fa-solid fa-file-lines text-2xl text-stone-500 dark:text-stone-400"></i>
                        <div class="flex flex-col gap-y-1">
                            <h5 class="text-base font-semibold">Others</h5>
                            <p class="text-stone-500 dark:text-stone-400">24 files</p>
                        </div>
                    </a>
                </div>
            </div>
            {% include "components/border.html" %}
        </div>
        <div class="flex flex-col gap-y-3">
            <div class="flex flex-col gap-y-3">
                <div class="flex items-center gap-x-2">
                    <i class="fa-solid fa-arrow-trend-up text-base"></i>
                    <h5 class="font-semibold text-xl">Upgrade Plans</h5>
                </div>
                {% include "components/border.html" %}
            </div>
            <div class="flex flex-col gap-y-3">
                <a href="{% url 'home:all-files' %}" hx-boost="true" class="p-3 rounded-md flex items-center justify-center gap-x-2 bg-stone-200 dark:bg-stone-700 hover:bg-white dark:hover:bg-stone-600 transition-colors duration-200 ease-linear">
                    <i class="fa-solid fa-right-left"></i>
                    Compare New Plans
                </a>
                {% include "components/border.html" %}
            </div>
        </div>
    </div>
</div>
