{% extends "base.html" %}

{% load static %}

{% block content %}
    {% include "components/navbar/header_sidebar.html" %}
    {% include "components/navbar/header.html" %}
    <div class="pl-[70px] pt-5 h-dvh">
        <div class="px-5 md:px-10 lg:px-20">
            <div class="flex flex-col gap-y-10">
                <div class="flex flex-wrap justify-between items-center gap-3">
                    <nav class="flex" aria-label="Breadcrumb">
                        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                            <li class="inline-flex items-center">
                                <div class="font-medium inline-flex items-center gap-x-2 text-sm font-medium hover:text-indigo-500 dark:text-stone-400 dark:hover:text-stone-100">
                                    <i class="fa-regular fa-folder-open text-lg"></i>
                                    All Images
                                </div>
                            </li>
                        </ol>
                    </nav>
                </div>

                <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
                    <div class="group w-full relative bg-white hover:bg-white/50 rounded-lg shadow-sm dark:bg-stone-800 dark:hover:bg-stone-700">
                        <button type="button" class="cursor-pointer w-full">
                            <img src="{% static 'assets/images/logo.png' %}" loading="lazy" class="rounded-t-md w-full h-[200px] opacity-70 group-hover:opacity-100 object-contain bg-stone-200 dark:bg-stone-700 hover:bg-stone-100 dark:hover:bg-stone-600 transition-all duration-200 ease-linear" alt="Dummy Image.png" />
                        </button>
                        <div class="absolute top-1 right-2">
                            <button id="dropdown__fileGridBtn-1" data-dropdown-toggle="dropdown__fileGrid-1" class="flex hover:bg-stone-200 dark:hover:bg-stone-800 focus:ring-4 focus:outline-none focus:ring-stone-200 dark:focus:ring-stone-700 rounded-lg p-1.5" type="button">
                                <i class="fa-solid fa-ellipsis"></i>
                            </button>
                            {% comment %}Dropdown menu{% endcomment %}
                            <div id="dropdown__fileGrid-1" class="z-10 hidden text-base list-none bg-white divide-y divide-stone-100 dark:divide-stone-700 rounded-lg shadow-sm border border-stone-200 dark:border-stone-700 w-44 dark:bg-stone-800">
                                <ul class="py-2" aria-labelledby="dropdown__fileGridBtn-1">
                                    <li>
                                        <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 hover:bg-stone-100 dark:hover:bg-stone-600 dark:text-stone-200">
                                            <i class="fa-solid fa-circle-info text-stone-500 dark:text-stone-400"></i>
                                            Details
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 hover:bg-stone-100 dark:hover:bg-stone-600 dark:text-stone-200">
                                            <i class="fa-solid fa-pen text-stone-500 dark:text-stone-400"></i>
                                            Rename
                                        </button>
                                    </li>
                                </ul>
                                <div class="py-1.5">
                                    <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 text-rose-500 hover:bg-stone-100 dark:hover:bg-stone-600">
                                        <i class="fa-solid fa-trash-can"></i>
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="cursor-pointer p-5 flex flex-col gap-y-4">
                            <div class="flex flex-col gap-y-1">
                                <h5 class="font-semibold text-center">Dummy Image.png</h5>
                            </div>
                            {% include "components/border.html" %}
                            <div class="flex flex-wrap gap-x-5 gap-y-3 justify-between items-center">
                                <div class="flex flex-col">
                                    <h5 class="font-semibold">Filesize:</h5>
                                    <p class="text-stone-500 dark:text-stone-400">2.4 MB</p>
                                </div>
                                <div class="flex items-center">
                                    <div class="border border-stone-300 dark:border-stone-600 ml-[-7px] first:ml-0 relative inline-flex items-center justify-center w-7 h-7 overflow-hidden bg-stone-200 rounded-full dark:bg-stone-700">
                                        <span class="uppercase font-medium text-stone-500 dark:text-stone-400">JL</span>
                                    </div>
                                    <div class="border border-stone-300 dark:border-stone-600 ml-[-7px] first:ml-0 relative inline-flex items-center justify-center w-7 h-7 overflow-hidden bg-stone-200 rounded-full dark:bg-stone-700">
                                        <span class="uppercase font-medium text-stone-500 dark:text-stone-400">JL</span>
                                    </div>
                                    <div class="border border-stone-300 dark:border-stone-600 ml-[-7px] first:ml-0 relative inline-flex items-center justify-center w-7 h-7 overflow-hidden bg-stone-200 rounded-full dark:bg-stone-700">
                                        <span class="uppercase font-medium text-stone-500 dark:text-stone-400">JL</span>
                                    </div>
                                    <div class="border border-stone-300 dark:border-stone-600 ml-[-7px] first:ml-0 relative inline-flex items-center justify-center w-7 h-7 overflow-hidden bg-stone-200 rounded-full dark:bg-stone-700">
                                        <span class="uppercase font-medium text-stone-500 dark:text-stone-400">JL</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group w-full relative bg-white hover:bg-white/50 rounded-lg shadow-sm dark:bg-stone-800 dark:hover:bg-stone-700">
                        <button type="button" class="cursor-pointer w-full">
                            <img src="{% static 'assets/images/personalImg.png' %}" loading="lazy" class="rounded-t-md  w-full h-[200px] opacity-70 group-hover:opacity-100 object-contain bg-stone-200 dark:bg-stone-700 hover:bg-stone-100 dark:hover:bg-stone-600 transition-all duration-200 ease-linear" alt="Dummy Image.png" />
                        </button>
                        <div class="absolute top-1 right-2">
                            <button id="dropdown__fileGridBtn-1" data-dropdown-toggle="dropdown__fileGrid-1" class="flex hover:bg-stone-200 dark:hover:bg-stone-800 focus:ring-4 focus:outline-none focus:ring-stone-200 dark:focus:ring-stone-700 rounded-lg p-1.5" type="button">
                                <i class="fa-solid fa-ellipsis"></i>
                            </button>
                            {% comment %}Dropdown menu{% endcomment %}
                            <div id="dropdown__fileGrid-1" class="z-10 hidden text-base list-none bg-white divide-y divide-stone-100 dark:divide-stone-700 rounded-lg shadow-sm border border-stone-200 dark:border-stone-700 w-44 dark:bg-stone-800">
                                <ul class="py-2" aria-labelledby="dropdown__fileGridBtn-1">
                                    <li>
                                        <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 hover:bg-stone-100 dark:hover:bg-stone-600 dark:text-stone-200">
                                            <i class="fa-solid fa-circle-info text-stone-500 dark:text-stone-400"></i>
                                            Details
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 hover:bg-stone-100 dark:hover:bg-stone-600 dark:text-stone-200">
                                            <i class="fa-solid fa-pen text-stone-500 dark:text-stone-400"></i>
                                            Rename
                                        </button>
                                    </li>
                                </ul>
                                <div class="py-1.5">
                                    <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 text-rose-500 hover:bg-stone-100 dark:hover:bg-stone-600">
                                        <i class="fa-solid fa-trash-can"></i>
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="cursor-pointer p-5 flex flex-col gap-y-4">
                            <div class="flex flex-col gap-y-1">
                                <h5 class="font-semibold text-center">Dummy Image.png</h5>
                            </div>
                            {% include "components/border.html" %}
                            <div class="flex flex-wrap gap-x-5 gap-y-3 justify-between items-center">
                                <div class="flex flex-col">
                                    <h5 class="font-semibold">Filesize:</h5>
                                    <p class="text-stone-500 dark:text-stone-400">2.4 MB</p>
                                </div>
                                <div class="flex items-center">
                                    <div class="border border-stone-300 dark:border-stone-600 ml-[-7px] first:ml-0 relative inline-flex items-center justify-center w-7 h-7 overflow-hidden bg-stone-200 rounded-full dark:bg-stone-700">
                                        <span class="uppercase font-medium text-stone-500 dark:text-stone-400">JL</span>
                                    </div>
                                    <div class="border border-stone-300 dark:border-stone-600 ml-[-7px] first:ml-0 relative inline-flex items-center justify-center w-7 h-7 overflow-hidden bg-stone-200 rounded-full dark:bg-stone-700">
                                        <span class="uppercase font-medium text-stone-500 dark:text-stone-400">JL</span>
                                    </div>
                                    <div class="border border-stone-300 dark:border-stone-600 ml-[-7px] first:ml-0 relative inline-flex items-center justify-center w-7 h-7 overflow-hidden bg-stone-200 rounded-full dark:bg-stone-700">
                                        <span class="uppercase font-medium text-stone-500 dark:text-stone-400">JL</span>
                                    </div>
                                    <div class="border border-stone-300 dark:border-stone-600 ml-[-7px] first:ml-0 relative inline-flex items-center justify-center w-7 h-7 overflow-hidden bg-stone-200 rounded-full dark:bg-stone-700">
                                        <span class="uppercase font-medium text-stone-500 dark:text-stone-400">JL</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group w-full relative bg-white hover:bg-white/50 rounded-lg shadow-sm dark:bg-stone-800 dark:hover:bg-stone-700">
                        <button type="button" class="cursor-pointer w-full">
                            <img src="{% static 'assets/images/logo.png' %}" loading="lazy" class="rounded-t-md w-full h-[200px] opacity-70 group-hover:opacity-100 object-contain bg-stone-200 dark:bg-stone-700 hover:bg-stone-100 dark:hover:bg-stone-600 transition-all duration-200 ease-linear" alt="Dummy Image.png" />
                        </button>
                        <div class="absolute top-1 right-2">
                            <button id="dropdown__fileGridBtn-1" data-dropdown-toggle="dropdown__fileGrid-1" class="flex hover:bg-stone-200 dark:hover:bg-stone-800 focus:ring-4 focus:outline-none focus:ring-stone-200 dark:focus:ring-stone-700 rounded-lg p-1.5" type="button">
                                <i class="fa-solid fa-ellipsis"></i>
                            </button>
                            {% comment %}Dropdown menu{% endcomment %}
                            <div id="dropdown__fileGrid-1" class="z-10 hidden text-base list-none bg-white divide-y divide-stone-100 dark:divide-stone-700 rounded-lg shadow-sm border border-stone-200 dark:border-stone-700 w-44 dark:bg-stone-800">
                                <ul class="py-2" aria-labelledby="dropdown__fileGridBtn-1">
                                    <li>
                                        <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 hover:bg-stone-100 dark:hover:bg-stone-600 dark:text-stone-200">
                                            <i class="fa-solid fa-circle-info text-stone-500 dark:text-stone-400"></i>
                                            Details
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 hover:bg-stone-100 dark:hover:bg-stone-600 dark:text-stone-200">
                                            <i class="fa-solid fa-pen text-stone-500 dark:text-stone-400"></i>
                                            Rename
                                        </button>
                                    </li>
                                </ul>
                                <div class="py-1.5">
                                    <button type="button" class="cursor-pointer w-full text-sm flex items-center gap-x-2 px-4 py-2 text-rose-500 hover:bg-stone-100 dark:hover:bg-stone-600">
                                        <i class="fa-solid fa-trash-can"></i>
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="cursor-pointer p-5 flex flex-col gap-y-4">
                            <div class="flex flex-col gap-y-1">
                                <h5 class="font-semibold text-center">Dummy Image.png</h5>
                            </div>
                            {% include "components/border.html" %}
                            <div class="flex flex-wrap gap-x-5 gap-y-3 justify-between items-center">
                                <div class="flex flex-col">
                                    <h5 class="font-semibold">Filesize:</h5>
                                    <p class="text-stone-500 dark:text-stone-400">2.4 MB</p>
                                </div>
                                <div class="flex items-center">
                                    <div class="border border-stone-300 dark:border-stone-600 ml-[-7px] first:ml-0 relative inline-flex items-center justify-center w-7 h-7 overflow-hidden bg-stone-200 rounded-full dark:bg-stone-700">
                                        <span class="uppercase font-medium text-stone-500 dark:text-stone-400">JL</span>
                                    </div>
                                    <div class="border border-stone-300 dark:border-stone-600 ml-[-7px] first:ml-0 relative inline-flex items-center justify-center w-7 h-7 overflow-hidden bg-stone-200 rounded-full dark:bg-stone-700">
                                        <span class="uppercase font-medium text-stone-500 dark:text-stone-400">JL</span>
                                    </div>
                                    <div class="border border-stone-300 dark:border-stone-600 ml-[-7px] first:ml-0 relative inline-flex items-center justify-center w-7 h-7 overflow-hidden bg-stone-200 rounded-full dark:bg-stone-700">
                                        <span class="uppercase font-medium text-stone-500 dark:text-stone-400">JL</span>
                                    </div>
                                    <div class="border border-stone-300 dark:border-stone-600 ml-[-7px] first:ml-0 relative inline-flex items-center justify-center w-7 h-7 overflow-hidden bg-stone-200 rounded-full dark:bg-stone-700">
                                        <span class="uppercase font-medium text-stone-500 dark:text-stone-400">JL</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}